.calendar{
    width:100%;
    height: 100%;
}

.label-month{
    position:absolute;
    left:5%;
}

.label-month:hover{
   cursor: pointer;
}

.monthArrows{
    padding-left: 10px;
    cursor:pointer;
}